<app-loading-api *ngIf="showLoader"></app-loading-api>
<section *ngIf="!showNotification">
  <app-hero [banner]="banner" />
  <app-about *ngIf="aboutUs" [aboutUs]="aboutUs" id="about" />
  <app-services
    *ngIf="services"
    [services]="services"
    [serviceTitle]="serviceTitle"
    [serviceDescription]="serviceDescription"
    id="service"
  />
  <!-- <app-work id="works" /> -->
  <!-- <app-testimonial /> -->
  <!-- <app-team /> -->
  <app-faqs *ngIf="faqs" [faqs]="faqs" [faqTitle]="faqTitle" [faqDescription]="faqDescription" />
  <app-contact *ngIf="faqs" [contact]="contact" />
  <!-- <app-pricing-plans /> -->
  <!-- <app-brands /> -->
  <!-- <app-blogs /> -->
</section>
<section *ngIf="showNotification">
  <app-notification-message
    [showNotification]="showNotification"
    [message]="message"
  ></app-notification-message>
</section>
