<div class="hero1-section-area about-bg-area">
    <img src="assets/img/bg/service_bg.jpg" alt="" class="header-img1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="hero-heading-area heading1 text-center">
                    <h1>Our Services</h1>
                    <app-breadcrumb title="Service"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service1-section-area leftside sp1">
    <div class="container">
        <div class="row">
            <div *ngFor="let service of services; let i = index" class="col-lg-4 col-md-6">
                <app-service-card [index]="i+1" [service]="service"/>
            </div>

           
        </div>
    </div>
</div>