<app-about-hero />
<!-- <app-about-us
	[about_us_homepage_image1]="aboutUs.about_us_homepage_image1"
	[about_us_homepage_image2]="aboutUs.about_us_homepage_image2"
    [homepage_display_header]="aboutUs.homepage_display_header"
    [homepage_display_text]="aboutUs.homepage_display_text"
	[highlight_text1]="aboutUs.highlight_text1"
    [highlight_text2]="aboutUs.highlight_text2"
    [highlight_text3]="aboutUs.highlight_text3"
/> -->
<app-about-content
	[section_display_header]="aboutUs.section_display_header"
	[section_display_text]="aboutUs.section_display_text"
	[about_us_section_image1]="aboutUs.about_us_section_image1"
	[about_us_section_image2]="aboutUs.about_us_section_image2"
/>
<!-- <app-choose-us /> -->
<!-- <app-testimonial /> -->
<app-team />
<app-brands />
<app-blogs />
